body {
  background-color: rgb(195, 224, 249);
}

h1 {
  text-align: center;
}
.table {
  margin: 0 auto;
  cursor: pointer;
}

.box {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-style: inset;
}

.black {
  background-color: rgb(5, 2, 13);
  color: aliceblue;
}

.white {
  background-color: rgb(251, 251, 248);
}

.blue {
  background-color: rgb(77, 102, 184);
}

.highlight {
  background-color: rgb(186, 69, 85);
}
