* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center; /* center vertically */
  height: 100vh; /* required for vertical centering */
}

#main-container {
  border: 1px solid;
  padding: 15px;
  background: white;
  text-align: center;
  border-radius: 6px;
}

#buttons {
  margin: 10px 0;
  display: flex;
  gap: 10px; /* senior-level spacing */
  justify-content: center;
}

button {
  padding: 6px 12px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #ddd;
  box-shadow: 0 4px 0 #999;
  transition: all 0.1s ease;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 #777;
}

.increment {
  background-color: aqua;
}

.decrement {
  background-color: rgb(221, 59, 59);
}

.reset {
  background-color: aquamarine;
  width: 80px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
